/* Ha a telefonon vagyok */
@media screen and (max-width: 575px)  {
    #pc {display: none;}
    .kep{
        width: 75%;
        max-width: 180px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        opacity: 0.95;
        border: 2px solid black;
    }
    .maxWidth {
        max-width: 575px;
    }
    .t_nev{
        text-align: center;
        font-style: italic;
        color: whitesmoke;
    }
    #cim{
        text-align: center;
        font-style: oblique;
        color: whitesmoke;
    }
    .t_kep {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .hatter {
        background-image: url(hatterkep.jpg);
        background-position: center;
    }
    .tulajdon {
        color: whitesmoke;
        font-family: serif;
        font-size: 12px;
    }
    .icon {
        max-width: 20px;
        height: 20px;
        position: relative;
        top: -7px;
    }
    .icon_ig {
        right: 15px;
    }
    .icon_yt {
        left: 5px;
    }

}


/* Ha a gépen vagyok */
@media screen and (min-width: 576px)  {
    #mobile {display: none;}
    .maxWidth {
        max-width: 1170px;
    }
    #cim{
        text-align: center;
        font-style: italic;
        color: whitesmoke;
    }
    .kep{
        width: 80%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 250px;
        border-radius: 10px;
        opacity: 0.95;
        border: 3px solid black;
    }
    
    .t_nev{
        text-align: center;
        font-style: oblique;
        color: whitesmoke;
    }
    
    .hatter {
        background-image: url(hatterkep.jpg);
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
    
    .tulajdon {
        color: whitesmoke;
        font-family: serif;
        font-size: 20px;
    }
    .icon {
        max-width: 25px;
        height: 25px;
        position: relative;
        top: -7px;
    }
    .icon_ig {
        right: 25px;
    }
    .icon_yt {
        left: 5px;
    }

}

